
@import url("colors.css");

window#osd {
    border-radius: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

window#osd #container {
    border-radius: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    spacing: 0;
}

window#osd image {
    opacity: 0;
    -gtk-icon-transform: scale(0);
    margin-left: -48px;
    margin-right: 0;
    padding: 0;
}

window#osd label {
    opacity: 0;
    font-size: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

window#osd progressbar {
    min-height: 8px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
}

window#osd trough {
    min-height: 8px;
    border-radius: 0;
    background: @surface_container_lowest;
}

window#osd progress {
    min-height: 8px;
    border-radius: 0;
    background: @primary;
}
